/*================================================================ BOOTSTRAP
*/

$main-sm-columns: 12;
$sidebar-sm-columns: 4;
$form-group-margin-bottom: 15px !default;
$font-size-base: 14px !default;
$line-height-base: 1.428571429 !default;
$line-height-computed: floor($font-size-base * $line-height-base) !default;
$thumbnail-caption-padding: 9px !default;

/*================================================================ OTHERS
*/

$white: #ffffff;
$black: #33333d;
$gray: #f5f5f5;
$gray-dark: #b5b5b5;
$gray-light: #fdfdfd;
$accent-color: #33a0c0;
$accent-hover-color: #3bbfe6;
$border-color: #eee;

/*================================================================ SPACE
*/

$space1: 6px;
$space2: 12px;
$space3: 18px;
$space4: 24px;
$space5: 30px;
$space6: 36px;
$space7: 42px;
$space8: 48px;
$space9: 54px;
$space10: 60px;
$space11: 66px;
$space12: 72px;
$space13: 78px;
$space14: 84px;
$space15: 90px;
$space16: 96px;
$space17: 102px;
$space18: 108px;
$space19: 114px;
$space20: 120px;
$space21: 126px;
$space22: 132px;

/*================================================================ BREAKPOINT
*/

$screen-xs:     480px !default;
$screen-xs-min: $screen-xs !default;

$screen-sm:     768px !default;
$screen-sm-min: $screen-sm !default;

$screen-md:     992px !default;
$screen-md-min: $screen-md !default;

$screen-lg:     1200px !default;
$screen-lg-min: $screen-lg !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

/*
@media (max-width: $screen-xs-max) { ... }
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { ... }
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { ... }
@media (min-width: $screen-lg-min) { ... }
*/
