/*================================================================ Article
*/

main > article {
  padding: 0 0 $space6;
  background-color: $white;
  border-bottom: 1px solid $border-color;
  @include border-box;
  @include break-word;

  &:last-child {
    border-bottom: 0;
  }
  
  header {

    .entry-title {
      margin: 0 0 $space4;
    
      a {
        font-size: 32px;
        color: $black;

        &:hover {
          color: $link-hover-color;
        }
      }
    }

    .updated {

    }

    .author {

    }
  }

  figure {
    
    figcaption {
      border: 1px solid $border-color;
    }
  }
  
  // Single post / page only
  .entry-content {
    @extend .clearfix;
    margin: $space2 0;
    overflow: hidden;
  }
  
  // Single post / page only
  .entry-other {
    @extend .clearfix;
  }
  
  // Listing only
  .entry-summary {
    @extend .clearfix;
  }

  img {
    max-width: 100%;
  }
}

.article-meta {
  
  .updated {
    display: inline-block;
    margin-right: $space1;
  }

  .author {
    display: inline-block;
    margin: 0;
    padding: 0;

    > a {

    }
  }
}

// Sticky
body.home main > article.post.sticky {
  background-color: $sticky-article-bg-color;
  color: $white;
  
  .entry-title a {
    color: $white;
  }

  .author a {
    color: $white;
    text-decoration: underline;
  }
}

// Listing
body.home main > article,
body.search-results main > article,
body.archive main > article {
  padding: $space10 0;

  &:nth-child(2n) {
    background-color: $even-article-bg-color;
  }

  @media (min-width: $screen-md-min) {
    padding: $space20 0;
  }
}

// Individual
body.single-post main > article,
body.attachment main > article,
body.error404 main > article,
body.search-no-results main > article,
body main > article.not-found {
  padding: 48px 0 !important;
  background-color: #fff !important;
  border-bottom: 0px !important;
}

// Individual
// cause `page` have `page-header`
body.page main > article {
  padding: $space2 0;
}

/*================================================================ Post Navigation
*/

.posts-navigation-wrap {

  .nav-previous,
  .nav-next {
    padding: $space8 0;
  }

  .nav-previous {
    float: left;
  }

  .nav-next {
    float: right;
  }
}
